.RoomForm {
	max-height: 35%;
	width: 50%;
	align-self: center;
}

.TitleCreate {
	font-size: 1.25em;
	font-weight: 700;
	margin-bottom: 10px;
	text-align: center;
}

.CreateButton {
	width: 20%;
}

.ModeButtons {
}

.Buttons {
	display: flex;
	margin-top: 10px;
}