.RoomForm {
	align-self: center;
	margin: auto;
}

.TitleCreate {
	font-size: 1.25em;
	font-weight: 700;
	margin-bottom: 15px;
	text-align: center;
}

.CreateButton {
	margin-left: 10px;
}

.button {
	margin-bottom: 0px !important;
}

.ModeButtons {
	margin-bottom: 0px !important;
}

.Buttons {
	display: flex;
	margin-top: 10px;
	align-items: flex-end;
}