.GamePage {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.GameMain {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
}

.BoardContainer {
	margin: 10px;
}

.Login {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	font-weight: bold;
	width: 20vh;
}

.UserLogin {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	font-weight: bold;
	width: 35vh;
}

.RoomName {
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 30px;
	opacity: 0.8;
	z-index: -1;
}