.RoomsPage {
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.RoomsList {
	overflow: scroll;
	height: 80%;
}

.RoomBlock {
	cursor: pointer;
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}